:root {
--background:	#292d3e;
--foreground:	#959dcb;
--comment:	#676e95;
--accent:	#c3e88d;
--redish:	#ff5370;
--orangish:	#f78c6c;
--yellowish:	#ffcb6b;
--greenish:	#c3e88d;
--bluish:	#82aaff;
--purplish:	#c792ea;
}

body {
    
    font-family: 'Arial Nova','Times New Roman';
    background-color: var(--background);
    color: #b6b6b6;
    background-image:url("images/FolkBlack.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
   margin: 0.5em;
   font-size: 4em;
   font-weight: lighter;
   letter-spacing: 0.5em;
}