:root {
--background:	#292d3e;
--foreground:	#959dcb;
--comment:	#676e95;
--accent:	#c3e88d;
--redish:	#ff5370;
--orangish:	#f78c6c;
--yellowish:	#ffcb6b;
--greenish:	#c3e88d;
--bluish:	#82aaff;
--purplish:	#c792ea;
}

body {
    
    font-family: 'Arial Nova','Times New Roman';
    background-color: var(--background);
    color: #b6b6b6;
    background-image:url("images/FolkBlack.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.title {
   margin: 0.5em;
   font-style: italic;
   text-decoration: underline;
   background-color: rgba(0, 0, 0, 0.715);
   margin-right: auto;
   border-radius: 0.25em;
   font-size: 4em;
   font-weight: lighter;
   letter-spacing: 0.1em;
   color: rgb(69, 12, 202);
}

.newGroceryForm {
   display: flex;
}

#newGrocery {
   background-color: rgba(246, 246, 246, 0.466);
   color: rgb(255, 255, 255);
   padding: 0.5em;
   width: 20em;
   font-size: 1.5em;
   border-radius: 0.25em 0 0 0.25em;
}

#addBtn {
   background: var(--redish);
   color: var(--background);
   padding: 0.5em;
   font-size: 1.5em;
   font-weight: bold;
   cursor: pointer;
   border-radius: 0em 0.25em 0.25em 0em;
}

#addBtn:hover {
   background: var(--purplish);
}

#groceryList {
   display: flex;
   flex-direction: column;
   align-items: left;
   justify-content: center;
   margin-right: auto;
   margin-top: 2em;
   border-radius: 0.5em;
   background-color: goldenrod;
}

.groceryItem {
   background-color: white;
   color: var(--background);
   margin: 0.5em;
   width: 24em;
   padding: 0.5em;
   border-radius: 0.25em;
   text-align: center;
   cursor: pointer;
}

.groceryItem:hover {
   background-color: lightblue;
   font-weight: bold;
}